<html>
    <head>
      {% if title %}
      <title>{{ title }} - ServerRoomSwipe</title>
      {% else %}
      <title>Welcome to ServerRoomSwipe</title>
      {% endif %}
    </head>
    <body>
		<div>
			ServerRoomSwipe:
			<a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
			{% if  current_user.is_admin %}
            <a href="{{ url_for('register') }}">Register a new user</a></p>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
